name: Deploy Node App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy files to EC2 and deploy
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ec2-user/nodeapp || mkdir /home/ec2-user/nodeapp
          cd /home/ec2-user/nodeapp
          rm -rf *
          git clone https://github.com/supriya8530/nodejs-project-ci-cd.git .
          docker stop nodeapp || true
          docker rm nodeapp || true
          docker build -t nodeapp .
          docker run -d -p 3000:3000 --name nodeapp nodeapp
